<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../../scripts/features/french_stream.js"></script>
</head>

<body>
    <div class="title">
        <h1 class="text_title">BartBot 🤖</h1>
    </div>

    <nav class="nav">
        <li class="feature white"><a href="/view/home.html">Accueil</a></li>
        <li class="feature"><a href="/view/features/french_stream.html">FrenchStream</a></li>
        <li class="feature white"><a href="/view/features/yggtorrent.html">YGGTorrent</a></li>
        <li class="feature white"><a href="/view/features/darkino.html">Darkino</a></li>
        <li class="feature white"><a href="/view/features/torrent911.html">Torrent911</a></li>
        <li class="feature white"><a href="/view/features/monstream.html">MonStream</a></li>
        <li class="feature white"><a href="/view/features/textup.html">TextUP</a></li>
        <li class="feature white"><a href="/view/features/custom_debrid.html">Custom Debrid</a></li>
    </nav>

     <div class="content logged">
        <div class="sub_title">
            <h2>Extract FrenchStream</h2>
        </div>

        <div class="allLinks" id="allLinks">
            <button id="launch"> Go 🚀 ! </button>
            <br>
            <div style="color: red; text-align: center;" id="status"></div>
            <br>
            <textarea class="textarea" placeholder="Lancez-le dès maintenant pour obtenir vos liens !" name="resultatArea" id="resultatArea" cols="50" rows="8"></textarea>
            <br>
            <div class="twobutton" id="twobutton">
                <button id="copy-text" style="margin-top: 5px;">✂️ les données</button> 
                <button id="copy-text-link" style="margin-top: 5px;">✂️ les liens</button>          
            </div>
            <span id="copied-text" style="margin: 0; display: none;">Toutes les données ont été copier !</span>
            <span id="copied-text-link" style="margin: 0; display: none;">Tous les liens ont été copier !</span>
            <span id="copied-text-error" style="margin: 0; display: none;">Je n'ai pas pu copier les liens ! essaye de copier toutes les données.</span>
            <br>
        </div>

        <div class="devToolsSection">
            <div style="margin: 4px" id="codeDiv" class="codeDiv">
                <code id="consoleLog"></code>
            </div>
            <button style="margin: 4px" id="addLog"> 👨‍💻Tools! </button>
        </div>
    </div>
</body>
</html>