<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../../scripts/features/textup.js"></script>
</head>

<body>
    <div class="title">
        <h1 class="text_title">BartBot</h1>
    </div>

    <nav class="nav">
        <li class="feature white"><a href="/view/home.html">Accueil</a></li>
        <li class="feature white"><a href="/view/features/extreme_down.html">Extreme Down</a></li>
        <li class="feature white"><a href="/view/features/tirexo.html">PapaFlix</a></li>
        <li class="feature white"><a href="/view/features/yggtorrent.html">YGGTorrent</a></li>
        <!-- <li class="feature white"><a href="/view/features/wawacity.html">WawaCity</a></li> -->
        <li class="feature white"><a href="/view/features/french_stream.html">FrenchStream</a></li>
        <li class="feature white"><a href="/view/features/monstream_co.html">MonStream.co</a></li>
        <li class="feature"><a href="/view/features/textup.html">TextUP</a></li>
        <li class="feature white"><a href="/view/features/custom_debrid.html">Custom Debrid</a></li>
    </nav>
    
    <div class="content logged">
        <div class="sub_title">
            <h2>Extract TextUP</h2>
        </div>

        <div class="allLinks" id="allLinks">
            <button id="launch"> Lancez-le ! </button>
            <br>
            <div style="color: red; text-align: center;" id="status"></div>
            <br>
            <textarea class="textarea" placeholder="Lancez-le dès maintenant pour obtenir vos liens !" name="resultatArea" id="resultatArea" cols="50" rows="8"></textarea>
            <br>
            <div class="twobutton" id="twobutton">
                <button id="copy-text" style="margin-top: 5px;">Copier toutes les données</button> 
                <button id="copy-text-link" style="margin-top: 5px;">Copier seulement les liens</button>     
            </div>
            <span id="copied-text" style="margin: 0; display: none;">Toutes les données ont été copier !</span>
            <span id="copied-text-link" style="margin: 0; display: none;">Tous les liens ont été copier !</span>
            <span id="copied-text-error" style="margin: 0; display: none;">Je n'ai pas pu copier les liens ! essaye de copier toutes les données.</span>
            <br>
        </div>

        <div class="devToolsSection">
            <div style="margin: 4px" id="codeDiv" class="codeDiv">
                <code id="consoleLog"></code>
            </div>

            <button style="margin: 4px" id="addLog"> DevTools! </button>
        </div>
    </div>
</body>
</html>