<!DOCTYPE html>
<html>
<head>
    <title>Options Custom</title>
    <script defer src="../scripts/options.js"></script>
</head>
<body>
    <div style="text-align: center;" class="login">
        <h3> Account AllDebrid :</h3>
        <br>
        <label for="account">Agent Name : </label>
        <input id="agentName" type="text" name="agentName">
        <br>
        <br>
        <label for="account">API Key : </label>
        <input id="apiKey" type="text" name="apiKey">
        <br>
        <br>
        <div style="color: red" id="status"></div>
        <br>
        <button id="save">Save</button>
    </div>
</body>
</html>